---
apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: workshop-argocd
spec:
  grafana:
    enabled: false 
  prometheus:
    enabled: false 
  redis:
    image: {{ internal_registry }}/{{ redis_image_name }}
    version: {{ redis_image_version }} 
  server:
    route:
      enabled: true
  rbac:
    defaultPolicy: 'role:readonly'
    policy: |
      g, system:cluster-admins, role:admin
...
