---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ participant }}-sample-app-ci
  namespace: argocd
spec:
  project: workshop
  source:
    repoURL: https://github.com/{{ participant }}/gitops-workshop.git
    targetRevision: {{ participant }} 
    path: {{ participant }}-sample-app-ci
  destination:
    # Need to get this automagically via detection
    server: https://kubernetes.default.svc
    namespace: {{ participant }}-sample-app-ci
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
...
