---
- name: Setup Participant
  hosts: local
  vars:
    participant_namespace: "{{ participant }}-gitops"
  tasks:
    - name: "{{ participant_namespace }} namespace is {{ state }}"
      k8s:
        api_version: v1
        kind: Namespace
        name: "{{ participant_namespace }}"
        state: "{{ state }}"
        kubeconfig: "{{ kubeconfig }}"

    - name: "{{ participant }} namespace admin is {{ state }}"
      k8s:
        state: "{{ state }}"
        kubeconfig: "{{ kubeconfig }}"
        definition:
          apiVersion: rbac.authorization.k8s.io/v1
          kind: RoleBinding
          metadata:
            name: "{{ participant }}-namespace-admin"
            namespace: "{{ participant_namespace }}"
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: admin
          subjects:
            - kind: User
              name: "{{ participant }}"
              namespace: "{{ participant_namespace }}"

    - name: Copy sample-app-ci to {{ participant }}-sample-app-ci
      copy:
        src: "{{ playbook_dir }}/../sample-app-ci/"
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci"
        mode: preserve
      when: state == 'present'

    - name: Remove {{ participant }}-sample-app-ci
      file:
        state: "{{ state }}"
        path: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci"
        mode: preserve
      when: state != 'present'

    - name: Replace namespace in {{ participant }}-sample-app-ci
      replace:
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci/01-sample-app-ci-namespace.yaml"
        regexp: 'sample-app-ci'
        replace: "{{ participant }}-sample-app-ci"
        mode: '664'

    - name: Replace repo location in {{ participant }}-sample-app-ci
      replace:
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci/30-pipeline-run.yaml"
        regexp: 'darthlukan'
        replace: "{{ participant }}"
        mode: '664'

    - name: Replace branch name in {{ participant }}-sample-app-ci
      replace:
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci/30-pipeline-run.yaml"
        regexp: 'master'
        replace: "{{ participant }}"
        mode: '664'

    - name: Update app-config-path in {{ participant }}-sample-app-ci PipelineRun
      replace:
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-ci/30-pipeline-run.yaml"
        regexp: 'sample-app-config'
        replace: "{{ participant }}-sample-app-config"
        mode: '664'

    - name: "{{ 'Create' if state == 'present' else 'Remove' }} {{ participant }} dirs"
      file:
        state: "{{ 'directory' if state == 'present' else 'absent' }}"
        path: "{{ playbook_dir }}/../{{ participant }}-{{ item }}"
        mode: 'ugo+rw'
      loop:
        - sample-app-config
        - customresources

    - name: Render sample templates to {{ participant }}-sample-app-config
      template:
        src: "{{ playbook_dir }}/templates/sample-app-config/{{ item }}.yaml.j2"
        dest: "{{ playbook_dir }}/../{{ participant }}-sample-app-config/{{ item }}.yaml"
        mode: preserve
      loop:
        - sample-app-deployment
        - sample-app-namespace
        - sample-app-networkpolicy
      when: state == 'present'

    - name: Render CR templates to {{ participant }}-customresources
      template:
        src: "{{ playbook_dir }}/templates/files/{{ item }}.yaml.j2"
        dest: "{{ playbook_dir }}/../{{ participant }}-customresources/{{ item }}.yaml"
        mode: preserve
      loop:
        - workshop-sample-app-ci-cr
        - workshop-sample-app-cr
      when: state == 'present'

    - name: Copy secrets to {{ participant }}-secrets
      copy:
        src: "{{ playbook_dir }}/secrets.yaml"
        dest: "{{ playbook_dir }}/{{ participant }}-secrets.yaml"
        mode: preserve
      when: state == 'present'

    - name: Replace namespace in {{ participant }}-secrets
      replace:
        dest: "{{ playbook_dir }}/{{ participant }}-secrets.yaml"
        regexp: 'sample-app-ci'
        replace: "{{ participant }}-sample-app-ci"
        mode: '664'
...
