---
- name: Setup Workshop
  hosts: local
  tasks:
  - import_role:
      name: darthlukan.argocd_install.install_prereqs

  - import_role:
      name: darthlukan.argocd_install.install_argocd

  - name: Deploy workshop applications
    k8s:
      namespace: argocd
      src: "{{ playbook_dir }}/files/{{ item }}"
      state: "{{ state }}"
      kubeconfig: "{{ kubeconfig }}"
    loop:
      - workshop-argo-cluster-cr.yaml
      - workshop-argo-project-cr.yaml
      - workshop-sample-app-cr.yaml
      - workshop-sample-infra-cr.yaml
    when: state == 'present'
...
